.*
!.gitignore
Debian_CPANTS.txt
blib/
_build/
cover_db/
inc/
.last_cover_stats
Makefile
Makefile.old
MANIFEST
MANIFEST.bak
META.yml
MYMETA.yml
nytprof.out
pm_to_blib
_dev/
tmon.out
cover_db_view
nytprof
.DS_Store
